<div class="container my-4">
  <h1 class="mb-4">Nuevo Tweet</h1>

  <div class="card p-4">
    <%= render "form", tweet: @tweet %>
  </div>

  <div class="mt-3">
    <%= link_to "Volver a tweets", tweets_path, class: "btn btn-secondary" %>
  </div>
</div>
